@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes move-y {
  0% {
    transform: translateY(110vh) translateX(10vw) scale(var(--scale));
    /* 110vh to hide the element initially, can be modified depending on the size of the emoji */
  }
  25% {
    transform: translateY(50vh) translateX(0vw) scale(var(--scale));
  }
  50% {
    transform: translateY(0vh) translateX(10vw) scale(var(--scale));
  }
  75% {
    transform: translateY(-50vh) translateX(0vw) scale(var(--scale));
  }
  100% {
    transform: translateY(-100vh) translateX(-10vw) scale(var(--scale));
  }
}

.move-y {
  animation: move-y var(--speed) infinite linear;
}

.scrollbar-content {
  scrollbar-width: thin;
  scrollbar-color: #555555 #242262;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #242262;
  }
}